*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #111827;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor{
    width: 800px;
    height: 400px;
    background-color: #1f2937;
    margin: 140px auto;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.texto{
    width: 45%;
}

.texto h1{
    color: #ef4444;
    font-size: 50px;
    margin-bottom: 30px;
}

.texto p{
    color: #d1d5db;
    font-size: 18px;
    line-height: 35px;
}

.formulario{
    width: 45%;
}

.formulario label{
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.formulario input{
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    background-color: #111827;
    color: white;
    font-size: 16px;
}

.recordar{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #d1d5db;
    margin-bottom: 20px;
}

.recordar input{
    width: 15px;
}

button{
    width: 100%;
    padding: 15px;
    background-color: #ef4444;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.info{
    color: #9ca3af;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}